@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');

@theme {
    /* Регистрируем кастомные шрифты */
    --font-sans: Inter, sans-serif;
    --font-serif: 'PT Serif', serif;
}



/* Импорт плагина Flowbite */
@plugin "flowbite/plugin";

/* Укажите source, чтобы Tailwind видел классы Flowbite */
@source "../node_modules/flowbite";

@theme {
    --color-olive-600: #565825
}