@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
    --font-sans: Inter, sans-serif;
    --font-serif: 'PT Serif', serif;
}


@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
    --color-olive-600: #565825
}